*{
    margin: 0;
    padding: 0;
}

nav{
    color: #f9faf8;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav>ul{
    display: flex;
    width: 20vw;
    justify-content: space-between;
}

nav>ul>li{
    list-style: none;
}

nav>h2{
    font-size: 24px;
}

header,footer{
    background-color: #1f2937;
}

.hero{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hero>img{
    height: 25vh;
    width: 32vw;
    background-color: rgb(175, 173, 173);
    color: #f9faf8;
    text-align: center;
}

.content{
    width: 30vw;
}

.content>h1{
    font-size: 48px;
    color: #f9faf8;
}

.content>h3{
    font-size: 18px;
    color: #959799;
}

.content>button{
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    color: #f9faf8;
    font-weight: bold;
    height: 4vh;
    width: 8vw;
}